{% extends 'core/base.html' %}
{% load static %}


{% block title %}
    CREATOR: {{ creator.shareddata.main_name }}
{% endblock title %}


{% block main_content %}
    {# DEBUG: number of db hits #}
    <p>db hits: {{ connection.queries|length }}</p>


    <h1>{{ creator.shareddata.main_name }}</h1>

    <div>
        {% with anlist_vars=altnames_anlist_vars %}
        {% include "core/reusable/swaps/alternative-names-data.html" %}
        {% endwith %}
        <a href="javascript:void(0)" id="show-hide-more-altnames" 
        onclick="showHideMoreAltnames()">show more</a>
        <span class="inline-add-altname-button-wrapper">
            {% with vars=altnames_add_altname_btn_vars %}
            {% include "core/reusable/add-new-item-ui.html" %}
            {% endwith %}
        </span>
        <span>
            {% with message_list_id="message-list-"|add:altnames_add_altname_btn_vars.uid %}
            {% include "core/reusable/message-list.html" %}
            {% endwith %}
        </span>
    </div>

    <div class="profile-info">
        <span>
            <img src="{% static 'core/temp.png' %}">
        </span>
        <span class="profile-info-section">
            <table>
                <caption><b>Creator Information</b></caption>
                <tr><td>Name:</td><td>{{ creator.shareddata.main_name }}</td></tr>
                <tr><td>Type:</td><td>{{ creator.get_creator_type_display }}</td></tr>
                <tr class="editable">
                    <td>Marked As:</td>
                    <td>
                        <span class="loader-boundary-element">
                        {% with sdtype_data_vars=profile_sdtype_data_vars %}
                        {% include "core/reusable/swaps/profile-shareddata-types-data.html" %}
                        {% endwith %}
                        {% with sdtype_ui_vars=profile_sdtype_ui_vars %}
                        {% include "core/reusable/edit-shareddata-type-ui.html" %}
                        {% endwith %}
                        </span>
                        <button id="add-edit-sdata-button"
                        onclick="hideElement(this.id);
                        showAllElementsWithClass('shareddata-type-edit-ui', 'initial'); 
                        showAllElementsWithClass('shareddata-type-unset', 'inline-block')">
                            + add/edit
                        </button>
                        {% with message_list_id="message-list-marked-as-type" %}
                        {% include "core/reusable/message-list.html" %}
                        {% endwith %}
                    </td>
                </tr>
            </table>
        </span>

        <span id="related-pages-data" class="profile-info-section">
            {% if creator.shareddata.linked_project or creator.shareddata.linked_tag %}
            <div><b>Related Pages:</b></div>
            <div>
                {% if creator.shareddata.linked_project %}
                <a href="{% url 'core:project_info' creator.pk %}">
                    (Project Page) {{ creator.shareddata.main_name }}
                </a>
                <br>
                {% endif %}
                {% if creator.shareddata.linked_tag %}
                <a href="{% url 'core:tag_info' creator.pk %}">
                    (Tag Page) {{ creator.shareddata.main_name }}
                </a>
                <br>
                {% endif %}
            </div>
            {% endif %}
        </span>
    </div>


    {% if creator.creator_type != creator.TYPE_GROUP %}
    <h3>Circles</h3>
    <ul id="circles-list">
        {% with clist_vars=circles_list_vars %}
        {% include "core/reusable/swaps/creators-list-data.html" %}
        {% endwith %}
    </ul>
    {% with vars=circles_add_creator_ss_vars %}
    {% with message_list_id="message-list-"|add:vars.uid %}
    {% include "core/reusable/add-item-search-select.html" %}
    {% endwith %}
    {% endwith %}
    {% endif %}

    {% if creator.creator_type != creator.TYPE_PERSON %}
    <h3>Members</h3>
    <ul id="members-list">
        {% with clist_vars=members_list_vars %}
        {% include "core/reusable/swaps/creators-list-data.html" %}
        {% endwith %}
    </ul>
    {% with vars=members_add_creator_ss_vars %}
    {% with message_list_id="message-list-"|add:vars.uid %}
    {% include "core/reusable/add-item-search-select.html" %}
    {% endwith %}
    {% endwith %}
    {% endif %}

    <h3>Involved in Creating</h3>
    <ul>
        {% for project in creator.project_set.all %}
        <li><a href="{% url 'core:project_info' project.pk %}">{{ project.shareddata.main_name }}</a></li>
        {% endfor %}
    </ul>

    <h3>Makes content categorized as</h3>
    <ul class="tags-list tags-list-type-tags">
        <div id="swappable-tags-list-data">
        {% with tlist_vars=contenttags_tlist_vars %}
        {% include "core/reusable/swaps/tags-list-data.html" %}
        {% endwith %}
        </div>
        <li>
        {% with vars=contenttags_add_tag_ss_vars %}
        {% include "core/reusable/add-item-search-select-ui.html" %}
        {% endwith %}
        </li>
        <span>
        {% with message_list_id="message-list-"|add:contenttags_add_tag_ss_vars.uid %}
        {% include "core/reusable/message-list.html" %}
        {% endwith %}
        </span>
    </ul>


    {# DEBUG: number of db hits #}
    <p>db hits: {{ connection.queries|length }}</p>
{% endblock main_content %}